@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&display=swap');

*{
    user-select: none;
}

.hidden{
    opacity: 0;
    transition: 1s;
}

.mostrar{
    opacity: 1;
    animation: scroll 1s ease-in-out;
}

@keyframes scroll{
    from{
        transform: translateY(-120px);
    }
    to{
        transform: translateY(0);
    }
}

.oscuro{
    background-color: #010314;
    color: white;
}

#menu{
    background: linear-gradient(to right,#14162f,#2e65b2);
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    height: auto;
}

#btn-oscuro{
    border: none;
    background-color: transparent;
    color: white;
}

.introduccion{
    min-width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 26px;
}

.introduccion h1{
    font-family: "Black Ops One", system-ui;
    width: 400px;
    font-size: 36px;
}

.introduccion p{
    font-family: "Inconsolata", monospace;
    font-weight: 600;
    font-size: 22px;
    width: 400px;
}

.introduccion a{
    font-family: "Inconsolata", monospace;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    background-color: #14162f;
    color: white;
}

.nosotros{
    height: auto;
    max-width: 100%;
}

.portada-nosotros{
    width: 100%;
    height: 320px;
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.20)),url(img/portada-nosotros.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: "Black Ops One", system-ui;
    font-size: 40px;
}

.contenido-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    gap: 36px;
    font-family: "Inconsolata", monospace;
}

.contenido-nosotros figure{
    width: 340px;
    object-fit: cover;
    overflow: hidden;
}

.contenido-nosotros img:hover{
    transform: scale(1.1);
    transition: .8s;
}

.contenido-nosotros p{
    font-size: 22px;
}

.tecnologias-nosotros{
    margin-top: 5%;
    font-family: 'Inconsolata',monospace;
}

.tecnologias{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.servicios{
    height: auto;
    min-width: 100%;
    margin-top: 20px;
}

.portada-servicios{
    height: 320px;
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.20)),url(img/portada-servicios.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Black Ops One", system-ui;
    font-size: 40px;
    font-weight: 400;
}

.contenedor-servicios{
    width: 100%;
    height: auto;
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.contenedor-servicios .row{
    gap: 25px;
}

.contenedor-servicios .servicios-arriba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-servicios .servicios-abajo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.servicio{
    background: linear-gradient(#183155,#0a1e3b);
    font-family: 'Inconsolata',monospace;
    height: 300px;
    width: 320px;
}

.servicio i{
    color: #fff;
    font-size: 70px;
}

.servicio h1{
    color: #d8cf13;
    font-size: 30px;
}

.servicio p{
    color: white;
    font-weight: 200;
    max-width: 760px;
}

.servicio:hover{
    transition: .8s;
    transform: scale(1.05);
}

.contacto{
    max-width: 100%;
    height: auto;
}

.portada-contacto{
    width: 100%;
    height: 320px;
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.20)),url(img/portada-contacto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Black Ops One", system-ui;
    font-size: 40px;
    font-weight: 400;
}

.contenido-contacto{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
}

.donde-contactar{
    display: flex;
    flex-direction: column;
    background-color: #2e65b2;
    padding: 45px;
    gap: 30px;
    font-family: 'Inconsolata',monospace;
}

.donde-contactar h1{
    color: #fff;
}

.donde-contactar p{
    font-size: 20px;
    color: #fff;
}

.donde-contactar i{
    color: #d8cf13;
    font-size: 40px;
    margin-right: 15px;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #183155;
}

.formulario h1{
    color: #d8cf13;
    font-family: 'Inconsolata',monospace;
}

.formulario form{
    font-family: 'Inconsolata',monospace;
}

.formulario label{
    color: #fff;
}

.formulario input[type="submit"]{
    background-color: #d8cf13;
    width: 180px;
    padding: 12px;
    border: none;
}

.boton-whatsapp{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    background-color: #25d366;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 70px;
    animation: movimiento 3s ease-in-out infinite;
}

@keyframes movimiento{
    0%,100%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(10px);
    }
}

.boton-whatsapp i{
    font-size: 40px;
    color: #fff;
}

.mapa{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa iframe{
    width: 100%;
    height: 360px;
}

footer{
    width: 100%;
    height: auto;
    background: linear-gradient(to right,#001D3D,#001D3D);
    margin-top: 40px;
    color: #fff;
    font-family: 'Inconsolata',monospace;
    padding: 55px;
    display: flex;
    flex-direction: column;
}

.izquierda{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo-logo{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: solid 3px #d8cf13;
}

.titulo-logo p{
    font-size: 40px;
    margin-right: 15px;
}

.titulo-logo span{
    color: #6086bb;
}

.titulo-logo img{
    width: 80px;
    margin-right: 25px;
}

.enlaces{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.enlaces a{
    text-decoration: none;
    color: #fff;
}

.enlaces a:hover{
    color: #d8cf13;
}

.derecha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
    gap: 30px;
    font-size: 20px;
}

.bi-youtube{
    color: #fff;
    background-color: red;
    padding: 10px;
    border-radius: 999px;
}

.bi-twitter-x{
    color: #000;
    background-color: #fff;
    padding: 12px;
    border-radius: 999px;
}

.bi-facebook{
    color: #000;
    background-color: #2e65b2;
    color: #fff;
    padding: 12px;
    border-radius: 999px;
}

.centro{
    text-align: center;
    font-weight: 100;
    margin-top: 15px;
}

@media screen and (min-width:1200px){
    #menu{
        height: 150px;
    }
    
    .introduccion{
        height: 100vh;
    }
    
    .introduccion h1{
        width: 900px;
        font-size: 60px;
    }
    
    .introduccion p{
        font-size: 20px;
        width: 700px;
    }
        
    .nosotros{
        height: auto;
        max-width: 100%;
    }
    
    .portada-nosotros{
        font-size: 70px;
    }
    
    .contenido-nosotros{
        flex-direction: row;
    }
    
    .contenido-nosotros figure{
        width: 500px;
    }

    .contenido-nosotros img{
        transition: transform .8s ease-in-out;
    }
    
    .contenido-nosotros img:hover{
        transform: scale(1.1);
    }
    
    .contenido-nosotros p{
        font-size: 18px;
    }
    
    .tecnologias{
        flex-direction: row;
        gap: 50px;
    }
    
    .slider-container{
        width: 100%;
        overflow: hidden;
        height: auto;
    }
    
    .slider{
        height: auto;
        width: calc(145px * 9);
        animation: slide 14s linear infinite;
    }
    
    @keyframes slide{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }
    
  
    .portada-servicios{
        font-size: 75px;
    }
        
    .servicio{
        background: linear-gradient(#183155,#0a1e3b);
        font-family: 'Inconsolata',monospace;
        height: 300px;
    }

    .servicio:hover{
        box-shadow: 5px 8px 10px rgb(0, 0, 0);
        will-change: transform;
    }
    
    .contacto{
        max-width: 100%;
        height: auto;
    }
    
    .portada-contacto{
        font-size: 75px;
    }
    
    .contenido-contacto{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        justify-content: center;
        margin-left: 8%;
        margin-right: 8%;
    }
    
    .boton-whatsapp{
        right: 30px;
        bottom: 70px;
    }
    
    @keyframes movimiento{
        0%,100%{
            transform: translateY(30px);
        }
        50%{
            transform: translateY(10px);
        }
    }
    
    .boton-whatsapp i{
        font-size: 40px;
        color: #fff;
    }
    
    .mapa{
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mapa iframe{
        width: 100%;
        height: 360px;
    }
    
    footer{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .izquierda{
        width: 700px;
        flex-direction: row;
    }
    
    .enlaces{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .enlaces a{
        text-decoration: none;
        color: #fff;
    }
    
    .enlaces a:hover{
        color: #d8cf13;
    }
    
    .derecha{
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 20px;
    }
    
    .bi-youtube{
        color: #fff;
        background-color: red;
        padding: 10px;
        border-radius: 999px;
    }
    
    .bi-twitter-x{
        color: #000;
        background-color: #fff;
        padding: 12px;
        border-radius: 999px;
    }
    
    .bi-facebook{
        color: #000;
        background-color: #2e65b2;
        color: #fff;
        padding: 12px;
        border-radius: 999px;
    }

    .centro{
        text-align: center;
        font-weight: 100;
        margin-top: 15px;
    }
}